In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [9]:
import pandas as pd

In [15]:
# Create the DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve'],
    'Age': [24, 27, 22, 32, 29],
    'Department': ['HR', 'Finance', 'IT', 'Marketing', 'HR'],
    'Salary': [45000, 54000, 50000, 62000, 47000]
}
df = pd.DataFrame(data)

print("First five rows:")
print(df)

First five rows:
      Name  Age Department  Salary
0    Alice   24         HR   45000
1      Bob   27    Finance   54000
2  Charlie   22         IT   50000
3    Diana   32  Marketing   62000
4      Eve   29         HR   47000

In [17]:
# b. Summary statistics for 'Age' and 'Salary'
print("\nSummary statistics:")
print(df[['Age', 'Salary']].describe())

Summary statistics:
             Age        Salary
count   5.000000      5.000000
mean   26.800000  51600.000000
std     3.962323   6730.527468
min    22.000000  45000.000000
25%    24.000000  47000.000000
50%    27.000000  50000.000000
75%    29.000000  54000.000000
max    32.000000  62000.000000

In [19]:
# c. Average salary of employees in the 'HR' department
avg_hr_salary = df[df['Department'] == 'HR']['Salary'].mean()
print("\nAverage salary in HR department:", avg_hr_salary)

Average salary in HR department: 46000.0

In [21]:
#Add a 'Bonus' Column (10% of Salary)
df['Bonus'] = df['Salary'] * 0.10
print("\nDataFrame with Bonus column:")
print(df)

DataFrame with Bonus column:
      Name  Age Department  Salary   Bonus
0    Alice   24         HR   45000  4500.0
1      Bob   27    Finance   54000  5400.0
2  Charlie   22         IT   50000  5000.0
3    Diana   32  Marketing   62000  6200.0
4      Eve   29         HR   47000  4700.0

In [23]:
#Filter Employees Aged Between 25 and 30
age_filtered = df[(df['Age'] >= 25) & (df['Age'] <= 30)]
print("\nEmployees aged between 25 and 30:")
print(age_filtered)

Employees aged between 25 and 30:
  Name  Age Department  Salary   Bonus
1  Bob   27    Finance   54000  5400.0
4  Eve   29         HR   47000  4700.0

In [25]:
# Group by Department and Calculate Average Salary
avg_salary_by_dept = df.groupby('Department')['Salary'].mean()
print("\nAverage salary by department:")
print(avg_salary_by_dept)

Average salary by department:
Department
Finance      54000.0
HR           46000.0
IT           50000.0
Marketing    62000.0
Name: Salary, dtype: float64

In [27]:
# Sort by Salary 
sorted_df = df.sort_values(by='Salary', ascending=True)
print("\nDataFrame sorted by Salary (ascending):")
print(sorted_df)

DataFrame sorted by Salary (ascending):
      Name  Age Department  Salary   Bonus
0    Alice   24         HR   45000  4500.0
4      Eve   29         HR   47000  4700.0
2  Charlie   22         IT   50000  5000.0
1      Bob   27    Finance   54000  5400.0
3    Diana   32  Marketing   62000  6200.0

In [29]:
# Save to CSV
sorted_df.to_csv('sorted_employees.csv', index=False)
print("\nSorted DataFrame saved as 'sorted_employees.csv'")

Sorted DataFrame saved as 'sorted_employees.csv'